<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="pace_pay" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <comment><![CDATA[<div class="pace-logo-text"></div><div class="pace-pay-text">Boost your sales, conversion rates and drive up average basket size while allowing your customers to spread their purchase into 3 interest-free instalments. You get paid in full upfront, with no hidden fees or charges.</div>]]></comment>
                <fieldset_css>complex pace-pay_system-config</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>

                <field id="plugin_version" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Plugin Version</label>
                    <frontend_model>Pace\Pay\Block\Adminhtml\System\Config\Label</frontend_model>
                </field>

                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/pace_pay/active</config_path>
                </field>
                <!-- <field id="debug" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/pace_pay/debug</config_path>
                </field> -->
                <field id="pay_with_pace_mode" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pay with Pace Mode</label>
                    <source_model>Pace\Pay\Model\Adminhtml\Source\PayWithPaceMode</source_model>
                    <config_path>payment/pace_pay/pay_with_pace_mode</config_path>
                </field>

                <field id="generate_invoice" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Automatically Generate Invoice</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/pace_pay/generate_invoice</config_path>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                    <config_path>payment/pace_pay/sort_order</config_path>
                </field>
                <!--                <field id="payment_action" translate="label" type="select" sortOrder="110"-->
                <!-- showInDefault="1" showInWebsite="1" showInStore="1">-->
                <!--                    <label>Payment Action</label>-->
                <!--                    <source_model>Pace\Pay\Model\Adminhtml\Source\PaymentAction</source_model>-->
                <!--                    <config_path>payment/pace_pay/payment_action</config_path>-->
                <!--                </field>-->
                <group id="api" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API</label>
                    <comment><![CDATA[Configuration in this section is restricted to only the <b>store</b> scope.]]></comment>
                    <field id="payment_plan_display" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="1">
                        <label>Payment Plan</label>
                        <frontend_model>Pace\Pay\Block\Adminhtml\System\Config\PaymentPlan</frontend_model>
                        <comment>The payment plan will be fetched automatically when the configuration is saved.</comment>
                    </field>
                    <field id="environment" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                        <label>Environment</label>
                        <source_model>Pace\Pay\Model\Adminhtml\Source\Environment</source_model>
                        <config_path>payment/pace_pay/environment</config_path>
                    </field>
                    <group id="api_playground" translate="label" type="text" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                        <label>Playground API Credentials</label>
                        <attribute type="expanded">1</attribute>
                        <field id="client_id" translate="label" type="obscure" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Client ID</label>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                            <config_path>payment/pace_pay/playground_client_id</config_path>
                        </field>
                        <field id="client_secret" translate="label" type="obscure" sortOrder="2" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Client Secret</label>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                            <config_path>payment/pace_pay/playground_client_secret</config_path>
                        </field>
                        <depends>
                            <field id="environment">playground</field>
                        </depends>
                    </group>
                    <group id="api_production" translate="label" type="text" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                        <label>Production API Credentials</label>
                        <attribute type="expanded">1</attribute>
                        <field id="client_id" translate="label" type="obscure" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Client ID</label>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                            <config_path>payment/pace_pay/production_client_id</config_path>
                        </field>
                        <field id="client_secret" translate="label" type="obscure" sortOrder="2" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Client Secret</label>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                            <config_path>payment/pace_pay/production_client_secret</config_path>
                        </field>
                        <depends>
                            <field id="environment">production</field>
                        </depends>
                    </group>
                    <group id="select_order_state" translate="label" type="text" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                        <label>Manage Orders</label>
                        <comment><![CDATA[Manage your orders by choosing the status you want them to have when their corresponding Pace transactions have changed status.]]></comment>
                        <attribute type="expanded">1</attribute>
                        <field id="order_processing" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Approved</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                            <config_path>payment/pace_pay/pace_approved</config_path>
                        </field>
                        <field id="order_cancel" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Canceled</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                            <config_path>payment/pace_pay/pace_canceled</config_path>
                        </field>
                        <field id="order_expired" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="0" showInStore="1">
                            <label>Expired</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                            <config_path>payment/pace_pay/pace_expired</config_path>
                        </field>
                    </group>
                </group>
                <group id="marketing_widgets" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pace's Widgets</label>
                    <comment><![CDATA[Configurations in this section will be applied across all widget types.]]></comment>
                    <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/pace_pay/widgets_active</config_path>
                    </field>
                    <field id="fallback_widget" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Fallback widget</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/pace_pay/fallback_widget</config_path>
                    </field>
                    <field id="text_secondary_font_size" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Font Family</label>
                        <config_path>payment/pace_pay/base_font_family</config_path>
                        <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-family" target="_blank">font-family</a>]]></comment>
                    </field>
                    <field id="text_primry_color" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Default Text Primary Color</label>
                        <config_path>payment/pace_pay/base_text_primary_color</config_path>
                        <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value" target="_blank">color</a>]]></comment>
                    </field>
                    <field id="text_secondary_color" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Default Text Secondary Color</label>
                        <config_path>payment/pace_pay/base_text_secondary_color</config_path>
                        <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value" target="_blank">color</a>]]></comment>
                    </field>
                    <group id="single_product" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Single Product Widget</label>
                        <comment><![CDATA[<div style="width: 100%; display: flex; justify-content: center;"><img style="max-width: 100%;" src="https://assets.pacenow.co/images/developers/widgets/single-product-color-reference.jpeg"/></div>]]></comment>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/pace_pay/single_product_active</config_path>
                        </field>
                        <field id="logo_theme" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Logo Theme</label>
                            <source_model>Pace\Pay\Model\Adminhtml\Source\WidgetLogoTheme</source_model>
                            <config_path>payment/pace_pay/single_product_logo_theme</config_path>
                        </field>
                        <field id="text_primry_color" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Text Primary Color</label>
                            <config_path>payment/pace_pay/single_product_text_primary_color</config_path>
                            <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value" target="_blank">color</a>]]></comment>
                        </field>
                        <field id="text_secondary_color" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Text Secondary Color</label>
                            <config_path>payment/pace_pay/single_product_text_secondary_color</config_path>
                            <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value" target="_blank">color</a>]]></comment>
                        </field>
                        <field id="text_secondary_font_size" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Font size</label>
                            <config_path>payment/pace_pay/single_product_font_size</config_path>
                            <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-size" target="_blank">font-size</a> <br/> Adjustment in the font size will lead to a proportionate change in size of the entire widget.]]></comment>
                        </field>
                        <field id="container_style" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Container style</label>
                            <config_path>payment/pace_pay/single_product_container_style</config_path>
                            <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/style" target="_blank">style</a>]]></comment>
                        </field>
                    </group>
                    <group id="multi_products" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Multi Product Widget</label>
                        <comment><![CDATA[<div style="width: 100%; display: flex; justify-content: center;"><img style="max-width: 100%;" src="https://assets.pacenow.co/images/developers/widgets/multi-products-color-reference.jpeg"/></div>]]></comment>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/pace_pay/multi_products_active</config_path>
                        </field>
                        <field id="logo_theme" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Logo Theme</label>
                            <source_model>Pace\Pay\Model\Adminhtml\Source\WidgetLogoTheme</source_model>
                            <config_path>payment/pace_pay/multi_products_logo_theme</config_path>
                        </field>
                        <field id="text_primry_color" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Text Color</label>
                            <config_path>payment/pace_pay/multi_products_text_color</config_path>
                            <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value" target="_blank">color</a>]]></comment>
                        </field>
                        <field id="text_secondary_font_size" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Font size</label>
                            <config_path>payment/pace_pay/multi_products_font_size</config_path>
                            <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-size" target="_blank">font-size</a> <br/> Adjustment in the font size will lead to a proportionate change in size of the entire widget.]]></comment>
                        </field>
                    </group>
                    <group id="checkout" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Checkout Widget</label>
                        <comment><![CDATA[<div style="width: 100%; display: flex; justify-content: center;"><img style="max-width: 100%;" src="https://assets.pacenow.co/images/developers/widgets/checkout-color-reference.jpeg"/></div>]]></comment>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/pace_pay/checkout_active</config_path>
                        </field>
                        <field id="text_primry_color" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Text Primary Color</label>
                            <config_path>payment/pace_pay/checkout_text_primary_color</config_path>
                            <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value" target="_blank">color</a>]]></comment>
                        </field>
                        <field id="text_secondary_color" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Text Secondary Color</label>
                            <config_path>payment/pace_pay/checkout_text_secondary_color</config_path>
                            <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value" target="_blank">color</a>]]></comment>
                        </field>
                        <field id="timeline_color" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Timeline Color</label>
                            <config_path>payment/pace_pay/checkout_timeline_color</config_path>
                            <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value" target="_blank">color</a>]]></comment>
                        </field>
                        <field id="foreground_color" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Foreground Color</label>
                            <config_path>payment/pace_pay/checkout_foreground_color</config_path>
                            <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value" target="_blank">color</a>]]></comment>
                        </field>
                        <field id="background_color" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Bakground Color</label>
                            <config_path>payment/pace_pay/checkout_background_color</config_path>
                            <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value" target="_blank">color</a>]]></comment>
                        </field>
                        <field id="text_secondary_font_size" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Font size</label>
                            <config_path>payment/pace_pay/checkout_font_size</config_path>
                            <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-size" target="_blank">font-size</a> <br/> Adjustment in the font size will lead to a proportionate change in size of the entire widget.]]></comment>
                        </field>
                             <field id="interval_time" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sync order status</label>
                            <source_model>Pace\Pay\Model\Adminhtml\Source\CronIntervalTime</source_model>
                            <config_path>crontab/default/jobs_pace_cron_schedule_cron_expr</config_path>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
